In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [51]:
df = pd.read_csv('homeprices.csv')

In [36]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [37]:
towns = df['town']

In [38]:
dummies = pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [39]:
df = pd.concat([df, dummies], axis=1)

In [40]:
df.drop('town', axis=1, inplace=True)

In [41]:
df.count()

area               13
price              13
monroe township    13
robinsville        13
west windsor       13
dtype: int64

In [42]:
model = LinearRegression()

In [43]:
X = df.drop('price',axis=1)
X

    area  monroe township  robinsville  west windsor
0   2600                1            0             0
1   3000                1            0             0
2   3200                1            0             0
3   3600                1            0             0
4   4000                1            0             0
5   2600                0            0             1
6   2800                0            0             1
7   3300                0            0             1
8   3600                0            0             1
9   2600                0            1             0
10  2900                0            1             0
11  3100                0            1             0
12  3600                0            1             0

In [44]:
model.fit(X, df.price)

LinearRegression()

In [55]:
model.predict([[3400,1,0,0]])

array([641227.69296925])

In [50]:
model.score(X, df.price)

0.9573929037221872

In [52]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [56]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dfle = df

In [58]:
dfle.town = le.fit_transform(dfle.town)

In [89]:
X = dfle.drop('price',axis=1).values
y = dfle.price
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [93]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [106]:
ohe.fit_transform(X[:,0]).toarray()

ValueError: Expected 2D array, got 1D array instead:
array=[0 0 0 0 0 2 2 2 2 1 1 1 1].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [103]:
[X[:,0]]

[0, 0, 0, 0, 0, 2, 2, 2, 2, 1, 1, 1, 1]